@use 'variables';
@use 'animations';

.header {
  //Hamburger Open Styles
  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  nav {
    max-width: 69.375rem;
    margin: 0 auto;
    padding: 1.125rem 1.5rem;
  }

  &__logo {
    img {
    }
  }

  //Mobile Menu
  &__menu {
    > span {
      display: block;
      width: 24px;
      height: 2px;
      background-color: variables.$darkBlue;
      transition: all 200ms ease-in-out;
      transform-origin: 3.5px 1px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__links {
    a {
      font-size: variables.$font-sm;
      color: variables.$grayishBlue;
      transition: color 200ms ease-in-out;
      position: relative;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.25rem;
        bottom: -1.75rem;
        background: variables.$greenBlueGradient;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
      }

      &:hover {
        color: variables.$darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    font-size: variables.$font-sm;
    font-weight: 700;
    line-height: 1.75rem;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 0.4;
    }
  }
}

.overlay {
  position: absolute;
  top: 3.75rem;
  right: 0;
  bottom: 0;
  left: 0;
  background: variables.$bgOverlay;
}
